// STM32F4 Discovery 设备树 overlay

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpiof 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};
};

/ {
	keys {
		compatible = "gpio-keys";
		key0: key_0 {
			gpios = <&gpioe 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};
};



