// STM32F4 Discovery 设备树 overlay

#include <zephyr/dt-bindings/pwm/pwm.h>

/* ===== PWM 配置 =====
 * TIM4, CH1=PD12 (50Hz, 舵机)
 */
/ {
	pwm_servo: pwm_servo {
		compatible = "pwm-leds";
		servo0: servo0 {
			pwms = <&pwm4 1 20000000 PWM_POLARITY_NORMAL>;
		};
	};
};

&timers4 {
	status = "okay";
	st,prescaler = <83>;  /* 84MHz / (83+1) = 1MHz, 1us per tick */

	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pd12>;
		pinctrl-names = "default";
	};
};

